# Caches
.venv
.nyc_output
target/
dist
node_modules/
infra/__pycache__/*

# Fuzzer outputs
schema.json
metrics.json
corpus/
crashes/
coverage/
*.lcov
*.dot

railcar-results-*
*.tar.xz

.env
.DS_Store
