.venv
.nyc_output
target/
dist
node_modules/
**/__pycache__/*
**/.ipynb_checkpoints/*

corpus/
crashes/
coverage/
schema.json
metrics.json
*.lcov
*.dot
*.db
*.proto
*.log

jazzer-out
jazzer-results-*
railcar-out
railcar-results-*
*.tar.xz

.env
.DS_Store
