[tools]
node = '24.8.0'
bun = '1.3.3'
rust = { version = "1.89", components = "llvm-tools-preview" }
python = '3.13.7'

[env]
_.python.venv = { path = ".venv", create = true }
_.file = ".env"

[settings]
lockfile = true
experimental = true

[tasks.dev]
description = "Install optional dependencies useful for developing Railcar"
run = [
  "python3 -m ensurepip",
  "pip3 install -r requirements.txt",
  "bun i",
  "cargo install --locked cargo-llvm-cov cargo-workspace-version cargo-deny cargo-about mdbook samply",
]

[tasks.test]
description = "Run smoke tests"
run = [
  "cd packages/inference && bun test",
  "cd packages/worker && bun test",
  "cd scripts && bun test",
  "cargo test",
]

[tasks.build]
description = "Build the fuzzer and associated tools"
run = """
  bun i # install dependencies

  # always build the workspace in release mode
  cargo build --release

  cd packages/worker-sys
  bun run build
  cd ../..

  bunx tsc -b # build js parts
  bun i # install built binaries to node_modules/.bin
"""

[tasks.fix]
description = "Format and lint"
run = [
  "bunx biome format --write .",
  "bunx biome lint --error-on-warnings --write .",
  "cargo fmt",
  "cargo clippy"
]

[tasks.publish]
description = "Prepare and publish npm packages"
run = """
./scripts/publish.sh {{arg(name="version")}}
"""

[tasks.amp]
description = "Run amp in a devcontainer"
run = [
  "bun i",
  "bunx devcontainer build",
  "bunx devcontainer up --workspace-folder .",
  "bunx devcontainer exec --workspace-folder . bash"
]
